// Buttons
button,
.btn,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include button($keyline);
}

.btn-primary {
  @include button($primary-color);
}

.btn-info {
  @include button($info-color);
}

.btn-success {
  @include button($success-color);
}

.btn-warning {
  @include button($warning-color);
}

.btn-error {
  @include button($error-color);
}

a.btn:hover,
a.btn:active,
a.btn:focus {
  text-decoration: none;
}

.btn-large {
  padding: 7px 18px;
  font-size: 1.5em;
}
