// TYPOGRAPHY

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $base-font-color;
  background: $body-background;
}

p,
ul,
ol {
  margin: 0 0 $baseline;
}

ul {
  padding: 0;
  list-style: none;

  ul {
    margin: 0;
    list-style: inherit;
  }

  &.disc,
  &.circle,
  &.square {
    padding-left: 1.5em;

    ul {
      padding-left: 1.5em;
    }

    .unstyled {
      padding-left: 0;
    }
  }

  &.disc {
    list-style: disc;
  }

  &.circle {
    list-style: circle;
  }

  &.square {
    list-style: square;
  }
}

.unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    margin-right: 1%;
  }

  a {
    @include inline-block;
  }
}

.list-block {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
  }

  a {
    display: block;
    padding: 0.25em 10px;
    @include transition(all .2s ease);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $white;
      background: $link-color;
    }
  }
}

small {
  font-size: $small-font-size;
  color: $muted;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $keyline;
  margin: $baseline 0;
  padding: 0;
  @include clearfix;
}

img {
  max-width: 100%;

  &.img-rounded {
    border-radius: 5px;
  }

  &.img-circle {
    border-radius: 50%;
  }

  &.img-polaroid {
    background: #fff;
    padding: 5px;
    border: 1px solid $keyline;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.25);
  }
}

// Utilities
.lead {
  font-size: 1.25em;
  line-height: 1.25;
  margin-bottom: 1.2em;
}

.muted {
  color: $muted;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-warning {
  color: $warning-color;
}

.text-error {
  color: $error-color;
}

.text-info {
  color: $info-color;
}

.text-success {
  color: $success-color;
}

.img-caption {
  color: $muted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0 0 0.25em;
}

h2 {
  font-size: 2em;
  margin: 0 0 0.375em;
}

h3 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0 0 0.6em;
}

h5,
h6 {
  font-size: 1em;
  margin: 0 0 0.75em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}
