.breadcrumb {
  margin: 0 0 1.5em;
  list-style: none;

  > li {
    @extend .inline-block;

    > .divider {
      padding: 0 5px;
      color: $keyline;
    }
  }

  > .active {
    color: $gray-dark;
  }
}
