// VARIABLES

$primary-color: #574599;
$warning-color: #c09853;
$error-color: #d14;
$info-color: #3a87ad;
$success-color: #468847;

$gray-lighter: #f5f5f5;
$gray-light: #e5e5e5;
$gray: #ccc;
$gray-dark: #999;
$gray-darker: #666;

$white: #fff;
$black: #1b1b1b;

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Palatino, Georgia, "Times New Roman", serif;

$base-font-family: $sans-serif;
$base-font-size: 87.5%;
$base-font-color: #333;
$body-background: #fff;
$small-font-size: 85%;
$baseline: 1.5em;

$heading-font-family: $serif;
$heading-font-weight: normal;
$heading-font-color: $base-font-color;

$keyline: $gray;

$muted: $gray-dark;

$link-color: $primary-color;
$link-color-hover: darken($link-color, 15%);

$container-width: 90%;
$container-max-width: 1200px;
$container-min-width: 280px;
$ie-max-width: 940px;
$ie-min-width: 940px;


$header-bg: $black;
$header-text-color: $white;
$header-link-color: $gray;
$header-link-color-hover: $header-text-color;

// Set up breakpoints
$mobile: new-breakpoint(max-width 640px);
$table: new-breakpoint(max-width 767px);



