form {
  margin-bottom: 1.5em;
}

fieldset {
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid $keyline;
  font-size: 1.5em;
}

label {
  display: block;
  margin-bottom: 0.25em;
}

input,
textarea {
  @include inline-block;
  margin-bottom: 0.75em;
  padding: 0.25em 5px;
  border: 1px solid $keyline;
  font: inherit;
  line-height: 1.5;
  vertical-align: middle;
  @include border-radius(3px);
  @include box-shadow(inset 2px 2px 6px rgba(0,0,0,0.1));
  @include box-sizing(border-box);
}

textarea {
  width: 60%;
  height: 12em;
  resize: vertical;
}

.help-block {
  display: block;
  margin-bottom: 0.75em;
}

.help-inline {
  @include inline-block;
  vertical-align: middle;
  margin-top: -5px;

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.checkbox,
.radio {
  min-height: 1.5em;
  padding-left: 20px;

  [type="checkbox"],
  [type="radio"] {
    float: left;
    margin: 4px 0 0 -20px;
  }
}

[type="checkbox"],
[type="radio"] {
  border: 0;
}

input[type="submit"],
button,
.btn {
  @include inline-block;
  width: auto;
  padding: 0.5em 10px;
  border: 1px solid $button-border;
  color: $gray-darker;
  vertical-align: middle;
  @include box-sizing(border-box);
  @include border-radius(3px);
  @include button-background;
  @include box-shadow(inset 2px 2px 6px rgba(255,255,255,0.25));

  &:hover {
    color: $gray-darker;
    text-decoration: none;
    background: $button-base-color;
  }

  &:active,
  &:focus {
    color: $gray-darker;
    text-decoration: none;
    background: $button-base-color;
    @include box-shadow(inset 0 0 6px rgba(0,0,0,0.25));
  }
}

.btn-primary {
  color: #fff;
  border-color: darken($button-primary-base-color, 5%);
  @include button-primary-background;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: $button-primary-base-color;
  }
}

.btn-info {
  color: #fff;
  border-color: darken($button-info-base-color, 5%);
  @include button-info-background;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: $button-info-base-color;
  }
}

.btn-success {
  color: #fff;
  border-color: darken($button-success-base-color, 5%);
  @include button-success-background;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: $button-success-base-color;
  }
}

.btn-warning {
  color: #fff;
  border-color: darken($button-warning-base-color, 5%);
  @include button-warning-background;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: $button-warning-base-color;
  }
}

.btn-danger {
  color: #fff;
  border-color: darken($button-danger-base-color, 5%);
  @include button-danger-background;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: $button-danger-base-color;
  }
}

.btn-large {
  font-size: 1.25em;
  line-height: 1;
  padding: 0.75em 30px;

  [class^="icon-"],
  [class*=" icon-"] {
    margin-top: 4px;
  }
}

// Form layouts
.form-search {
  margin: 0;

  input {
    margin: 0;
  }
}

.form-inline {
  margin: 0;

  input {
    margin: 0;
  }

  .checkbox,
  .radio {
    @include inline-block;
    vertical-align: middle;
  }
}

.control-group {
  margin-bottom: 0.5em;
  @extend .clearfix;
}

.form-horizontal {

  .control-group {

    label {
      float: left;
      width: 160px;
      padding-top: 5px;
      text-align: right;

      @media only screen and (max-width: 767px) {
        float: none;
        width: auto;
        text-align: left;
      }
    }

    .checkbox {
      float: none;
      width: auto;
      text-align: left;
    }
  }

  .controls {
    margin-left: 180px;

    @media only screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}

.checkbox {

  &.inline {
    @include inline-block;
  }
}

select {
  @include inline-block;
  width: 40%;
  background: $white;
  padding: 0.25em 5px;
  border: 1px solid $keyline;
  line-height: 1.5;
}

input,
select {

  &.input-min {
    width: 40px;
  }

  &.input-small {
    width: 10%;
  }

  &.input-med {
    width: 25%;
  }

  &.input-large {
    width: 50%;
  }

  &.input-xlarge {
    width: 75%;
  }

  &.input-full {
    width: 100%;
  }
}

// Form states
.warning {
  color: $warning-color;

  input,
  select,
  textarea {
    border-color: $warning-color;
  }
}

.info {
  color: $info-color;

  input,
  select,
  textarea {
    border-color: $info-color;
  }
}

.error {
  color: $error-color;

  input,
  select,
  textarea {
    border-color: $error-color;
  }
}

.success {
  color: $success-color;

  input,
  select,
  textarea {
    border-color: $success-color;
  }
}
