// Body styles
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $base-font-color;
  background: $body-background;
}

// Defaults
p,
ul,
ol {
  margin: 0 0 1.5em;
}

ul {
  padding: 0;
  list-style: none;

  ul {
    margin: 0;
    list-style: inherit;
  }

  &.disc,
  &.circle,
  &.square {
    padding-left: 1.5em;

    ul {
      padding-left: 1.5em;
    }

    .unstyled {
      padding-left: 0;
    }
  }

  &.disc {
    list-style: disc;
  }

  &.circle {
    list-style: circle;
  }

  &.square {
    list-style: square;
  }
}

.unstyled {
  padding-left: 0;
  list-style: none;
}

small {
  font-size: 75%;
  color: $muted;
}

hr {
  margin: 1.5em 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: $keyline;
  @extend .clearfix;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: $gray-darker;
  padding: 0 4px;
  border: 1px solid $keyline;
  background: $gray-lighter;
  @include border-radius(3px);
}

pre {
  padding: 0.75em 20px;
  border: 1px solid $keyline;
  background: $gray-lighter;

  code {
    padding: 0;
    background: inherit;
    border: 0;
  }
}

img {
  max-width: 100%;

  &.img-rounded {
    @include border-radius(5px);
  }

  &.img-circle {
    @include border-radius(50%);
  }

  &.img-polaroid {
    background: #fff;
    padding: 5px;
    border: 1px solid $keyline;
    @include box-shadow(1px 1px 6px rgba(0,0,0,0.25));
  }
}

// Utilities
.lead {
  font-size: 1.25em;
  line-height: 1.25;
  margin-bottom: 1.2em;
}

.muted {
  color: $muted;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-warning {
  color: $warning-color;
}

.text-error {
  color: $error-color;
}

.text-info {
  color: $info-color;
}

.text-success {
  color: $success-color;
}

.img-caption {
  color: $muted;
}

.well {
  margin-bottom: 1.5em;
  padding: 1.5em 20px;
  border: 1px solid $keyline;
  background: $gray-lighter;
  color: $gray-darker;
  @include box-shadow(inset 0 0 6px rgba(0,0,0,0.1));
  @include border-radius(3px);
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;

  &.subheading {
    color: $muted;
  }
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0 0 0.5em;

  &.subheading {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 0.75em;
  }
}

h2 {
  font-size: 2em;
  margin: 0 0 0.75em;

  &.subheading {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

h3 {
  font-size: 1.5em;
  margin: 0 0 1em;

  &.subheading {
    font-size: 1.25em;
    line-height: 1.25;
    margin-bottom: 1.2em;
  }
}

h4 {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0 0 1.2em;

  &.subheading {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }
}

h5,
h6 {
  font-size: 1em;
  margin: 0 0 1.5em;

  &.subheading {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 1.6em;
  }
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

// Utilities
.page-header {
  margin: 3em 0 1.5em;
  text-align: center;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    margin-right: 1%;
  }

  a {
    @include inline-block;
  }
}

.list-block {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
  }

  a {
    display: block;
    padding: 0.25em 10px;
    @include transition(all .2s ease);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $white;
      background: $link-color;
    }
  }
}

.section {
  margin: 3em 0 1.5em;
}

.strike {
  position: relative;
  display: block;
  border-bottom: 1px solid $keyline;
  color: $brand-dark;
  text-align: center;

  span {
    position: relative;
    bottom: -0.7em;
    padding: 0 20px;
    background: $white;
  }
}