$gray-lighter: #f5f5f5;
$gray-light: #e5e5e5;
$gray: #ccc;
$gray-dark: #999;
$gray-darker: #666;

$white: #fff;
$black: #1b1b1b;

$brand-dark: #a61217;

$small-screen-breakpoint: 640px;

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, "Times New Roman", serif;

$base-font-family: $sans-serif;
$base-font-size: 87.5%;
$base-font-color: #333;
$body-background: #fff;

$heading-font-family: $sans-serif;
$heading-font-weight: normal;
$heading-font-color: $base-font-color;

$keyline: $gray;

$muted: $gray-dark;

$link-color: #1c96b5;
$link-color-hover: darken($link-color, 15%);

$container-width: 90%;
$container-max-width: 1200px;
$container-min-width: 280px;
$ie-max-width: 940px;
$ie-min-width: 940px;

$warning-color: #c09853;
$error-color: #d14;
$info-color: #3a87ad;
$success-color: #468847;

$button-base-color: $gray;
$button-highlight: lighten($gray, 25%);
$button-border: darken($gray, 10%);

$button-primary-base-color: $link-color;
$button-info-base-color: $info-color;
$button-success-base-color: $success-color;
$button-warning-base-color: $warning-color;
$button-danger-base-color: $error-color;

$header-bg: $black;
$header-text-color: $white;
$header-link-color: $gray;
$header-link-color-hover: $header-text-color;
